// Inspred by "Minimal keyboard" by Dibyajyoti Mishra
// https://dribbble.com/shots/14735602-Minimal-keyboard
// https://cdn.dribbble.com/users/4964399/screenshots/14735602/media/bfa7790a2b2a9abe08de761862c5207f.png

:root {
    --gap: 15px;
    --key-width: 50px;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: hsl(0, 7%, 65%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.keyboard {
    --rot-x: 20deg;
    --rot-y: 0deg;
    display: inline-flex;
    flex-direction: column;
    padding: var(--gap);
    border-radius: 17.5px;
    transform-style: preserve-3d;
    perspective: 1200px;
    transform: perspective(1200px) rotateX(var(--rot-x)) rotateY(var(--rot-y));
    transition: 100ms transform;
}

.row {
    display: flex;
    transform-style: preserve-3d;

    &+& {
        margin-top: var(--gap);
    }
}

.keyboard,
.key {
    background: rgb(28, 28, 28);
    border: 2px solid black;
    box-shadow:
        -5px -5px 10px rgba(0, 0, 0, 0.3),
        -2px -2px 6px rgba(0, 0, 0, 0.3),
        2px 2px 5px rgba(0, 0, 0, 0.3),
        5px 5px 10px rgba(0, 0, 0, 0.3);
}

.key {
    --width: var(--key-width);
    --color: rgb(217, 217, 217);
    --size: 1;
    --size-2: 1.654545; // calc((50 + 15 + 25 - 7.5) / 50); // 1.65
    --size-3: 1.981818; // calc((50 + 15 + 25 - 7.5 + 15) / 50); // 1.95
    --size-4: 2.290909; // calc((50 + 15 + 25 * 2) / 50); // 2.3
    --size-5: 2.618181; // calc((50 + 15 * 2 + 25 * 2) / 50); // 2.6 | Left shift
    --size-6: 1.327272;
    --size-7: 7.8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--width) * var(--size));
    height: var(--width);
    border-radius: 7.5px;
    flex-shrink: 0;
    box-sizing: border-box;
    transform: translate3D(0, 0, 30px);
    transition: 100ms;
    cursor: pointer;

    &:hover {
        transform: translate3D(0, 0, 35px);
    }

    &:active,
    &[data-selected]:not([data-selected="false"]) {
        transform: translate3D(0, 0, 25px);
        border-color: var(--color);
        box-shadow:
            -5px -5px 10px rgba(0, 0, 0, 0.3),
            -2px -2px 6px rgba(0, 0, 0, 0.3),
            2px 2px 5px rgba(0, 0, 0, 0.3),
            5px 5px 10px rgba(0, 0, 0, 0.3),
            0px 2px 8px var(--color),
            0px 5px 20px var(--color);
    }

    &+& {
        margin-left: var(--gap);
    }

    &:before {
        display: block;
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 7.5px;
        background-color: var(--color);
    }

    &.stretch {
        padding: 0 25px;

        &:before {
            width: 100%;
        }
    }

    &.empty:before {
        display: none;
    }

    &.size-2 {
        --size: var(--size-2);
    }

    &.size-3 {
        --size: var(--size-3);
    }

    &.size-4 {
        --size: var(--size-4);
    }

    &.size-5 {
        --size: var(--size-5);
    }

    &.size-6 {
        --size: var(--size-6);
    }

    &.size-7 {
        --size: var(--size-7);
    }

    &.grey {
        --color: rgb(170, 170, 170);
    }

    &.red {
        --color: rgb(224, 11, 11);
    }

    &.orange {
        --color: rgb(228, 103, 13);
    }

    &.yellow {
        --color: rgb(238, 201, 17);
    }

    &.green {
        --color: rgb(17, 136, 77);
    }

    &.blue {
        --color: rgb(14, 127, 240);
    }

    &.purple {
        --color: rgb(114, 11, 218);
    }

    &[data-color="grey"] {
        --color: rgb(87, 86, 86);
    }

    &[data-color="red"] {
        --color: rgb(241, 34, 34);
    }

    &[data-color="orange"] {
        --color: rgb(204, 95, 17);
    }

    &[data-color="yellow"] {
        --color: rgb(255, 223, 60);
    }

    &[data-color="green"] {
        --color: rgb(51, 236, 143);
    }

    &[data-color="blue"] {
        --color: rgb(105, 175, 245);
    }

    &[data-color="purple"] {
        --color: rgb(164, 92, 236);
    }
}

a {
    text-decoration: none;
    color: inherit;
}

#footer {
    height: 12vh;
    font-size: 1vh;

    #dribbble {
        border-radius: 2vh;
        position: absolute;
        bottom: 4vh;
        right: 4vh;
        transition: 300ms cubic-bezier(0.7, 0, 0.3, 1);
        padding-left: 1.5vh;

        &:before,
        &:after {
            vertical-align: middle;
            transition: inherit;
        }

        &:before {
            display: inline;
            font-size: 2vh;
            opacity: 0;
            transform: translate3D(-200px, 0, 0);
        }

        &:after {
            content: '';
            display: inline-block;
            width: 4vh;
            height: 4vh;
            margin-left: 1vh;
            background-image: url(https://alca.tv/static/u/82fde61b-28ef-4f17-976e-8f1abb5a1165.png);
            background-size: contain;
            background-position: center;
        }

        &.hover,
        &:hover {
            background: rgb(241, 89, 148);

            &:before {
                opacity: 1;
                transform: translate3D(0, 0, 0);
                transition-delay: 50ms;
            }

            &:after {
                filter: saturate(0%) contrast(200%) brightness(200%) invert(100%);
            }
        }
    }
}